* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

hr {
  width: 200px;
  border: none;
  border-top: 1.5px solid #757575;
}

nav {
  background-color: #222;
  text-align: center;
  position: fixed;
  width: 120px;
  height: 100%;
}

nav img {
  display: block;
}

nav a {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

nav a.active {
  background-color: #000;
}

nav a:hover {
  background-color: #000;
}

nav a i {
  font-size: 2rem;
}

nav a p {
  font-size: 0.75rem;
  margin: 16px 0;
}

main {
  margin-left: 120px;
}

#home {
  text-align: center;
  width: 100%;
  padding: 32px 16px;
}

#home h1 {
  font-weight: 400;
  font-size: 4rem;
  margin: 32px 0 24px 0;
}

#home p {
  font-size: 0.95rem;
  margin-bottom: 18px;
}

#home img {
  width: 992px;
}

#about {
  max-width: 980px;
  margin-inline: auto;
  padding: 64px 0;
}

#about h2 {
  font-weight: 400;
  color: #f1f1f1;
  font-size: 2rem;
}

#about hr {
  margin: 24px 0;
}

.about-description {
  font-size: 15px;
  color: #757575;
  text-align: justify;
  line-height: 1.5;
}

#about h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 16px 0;
}

/* #about h3:first-of-type {
  margin: 10px 0;
  padding: 16px 0;
} */

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #757575;
  letter-spacing: 4px;
  margin-bottom: 40px;
}

.skill {
  height: 28px;
  background-color: #fff;
}

#skill-1, #skill-2, #skill-3 {
  height: 100%;
  background-color: #666666;
}

#skill-1 {
  width: 95%;
}

#skill-2 {
  width: 85%;
}

#skill-3 {
  width: 80%;
}

.accomplishments {
  background-color: #f1f1f1;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 122px;
  margin-bottom: 32px;
}

.accomplishments div {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.accomplishments div p:first-child {
  font-size: 1.5rem;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 12px 24px;
  background-color: #f1f1f1;
  border: none;
  margin-bottom: 24px;
}

/* #about h3:nth-of-type(2) {
  margin: 10px 0;
  padding: 16px 0;
} */

.price-container {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  margin-bottom: 36px;
}

.price-container ul {
  width: 50%;
  text-align: center;
  opacity: 0.6;
}

.price-container ul:hover {
  opacity: 1;
}

.price-container ul li:first-child {
  background-color: #616161;
  padding: 32px;
  font-size: 1.5rem;
  color: #fff;
}

.price-container ul li {
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 20px 0;
  background-color: #fff;
  color: #222;
}

.price-container ul li:last-child {
  background-color: #f1f1f1;
  padding: 24px 0;
}

.price-container ul li button {
  margin-bottom: 0;
  background-color: #fff;
}

.price-container ul li button:hover {
  background-color: #000;
  color: #fff;
}

.price-container ul li h4 {
  font-size: 2rem;
  font-weight: 400;
  padding: 12px 0;
}

.reputation-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 12px;
  color: #666666;
  font-size: 1.08rem;
}

.reputation-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 12px;
}

.feedback small {
  margin-left: 16px;
}

.feedback p:nth-child(2) {
  font-size: 0.95rem;
}

.client {
  margin-bottom: 16px;
}