* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
} 

img {
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}

hr {
  width: 150px;
}

.container {
  display: flex;
}

nav {
  width: 34vw;
  background-color: #222;
  display: flex;
  flex-direction: column;
}

nav img {
  width: 100%;
}

nav a {
  text-align: center;
  padding: 12px 0;
}

nav a:focus {
  background-color: #000;
}

nav a:hover {
  background-color: #000;
}

nav a i {
  font-size: 1.6rem;
}

nav a p {
  font-size: 0.7rem;
  margin: 12px 0;
}
